{% extends("page.twig") %}

{% block contents %}

<body class="bg-light">

<div>
    <h6 class="error-message-title-centered">{{ alert_msg }}</h6>
</div>

<section class="text-center">
    <div class="p-5 bg"></div>
    <div class="card mx-4 mx-md-5 shadow-5-strong form">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Register</h2>
                    <form id="f" action="{{ baseURL }}/index.php?page=home" method="post">
                        <!-- Jmeno a Prijmeni -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="name">Name</label>
                                    <input type="text" maxlength="20" id="name" name="name" class="form-control"
                                           value="" required/>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="surname">Surname</label>
                                    <input type="text" maxlength="20" id="surname" name="surname" class="form-control"
                                           value="" required/>
                                </div>
                            </div>
                        </div>

                        <!-- Email a loginController -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                        <input type="email" class="form-control" maxlength="40" id="email" name="email"
                                               onchange="validateEmail()" value="{{ email is defined ? email : '' }}"
                                               aria-describedby="emailHelp" required>
                                    </div>
                                    <div id="email-validation-message" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="login">Login</label>
                                    <input type="text" maxlength="40" id="login" name="login" class="form-control"
                                           value="{{ login is defined ? login : '' }}" required/>
                                </div>
                            </div>
                        </div>

                        <!-- Heslo -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-unlock-keyhole"></i></span>
                                        <input type="password" class="form-control" name="password" id="password"
                                               oninput="validatePassword()" value="{{ heslo is defined ? heslo : '' }}"
                                               required>
                                        <span class="input-group-text">
                                            <i class="fas fa-eye toggle-password" id="password-eye"
                                               onclick="togglePasswordVisibility('password','password-eye')"></i>
                                        </span>
                                    </div>
                                    <div id="password-validation-message" class="form-text"></div>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="password2">Confirm password</label>
                                    <output name="x" for="password password2"></output>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-unlock-keyhole"></i></span>
                                        <input type="password" class="form-control" name="password2"
                                               id="password2" oninput="validatePasswordCheck()"
                                               value="{{ heslo2 is defined ? heslo2 : '' }}" required>
                                        <span class="input-group-text">
                                            <i class="fas fa-eye toggle-password" id="password2-eye"
                                               onclick="togglePasswordVisibility('password2', 'password2-eye')"></i>
                                        </span>
                                    </div>
                                    <div id="password-check-validation-message" class="form-text"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Potvrzeni -->
                        <input type="submit" class="btn btn-primary btn-block mb-4" name="register" value="Register"
                               onclick="validateSubmission()">
                        <p>Already have an account?
                            <a href="{{ baseURL }}/index.php?page=login" class="link-info">Log in</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ baseURL }}/app/Views/JS/validateRegistrationAndSignIn.js"></script>

{% endblock contents %}